.input_side {
    position: relative;
}

.input_description {
    margin-top: 30%;
    color: #707070;
    width: 50%;
    font-weight: 300;
    font-optical-sizing: auto;
    margin-bottom: 20%;

}

.label_city_name {
    color: #707070;
    display: block;
    font-size: 0.9rem;
}

.input_and_button {
    position: relative;
}

.input {
    padding-left: 2%;
    padding-right: 20%;
    width: 80%;
    height: 50px;
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px;
    font-size: 1.2rem;
}

.input:focus {
    outline: none;
}

.button {

    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 62%;
    right: 21%;
    transform: translateY(-50%);
    background-color: #046B3B;
    border-radius: 0.7vw;
    color: #A8C6CB;
    width: 15%;
    height: 45%;
    min-width: 48px;
}

.error {
    color: #046B3B;
    font-size: 0.7rem;
}

@media(max-width: 500px) {
    .input_description {
        width: 90%;
    }
}

@media (min-width: 1701px) {
    .input_description {
        font-size: 2.5rem;
    }

    .label_city_name {
        font-size: 1.5rem;
    }

    .input_and_button {
        font-size: 2rem;
    }

    .input {
        height: 80px;
        font-size: 2.2rem;

    }

    .button {
        font-size: 1.7rem;
    }

    .error {
        font-size: 1rem;
    }

}